.grid-container {
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;

  /* grid-template-row: 2fr 1fr 1.fr 3fr; */
}
.box {
  background-color:pink;
  padding: 20px;
  margin: 1px;
}
